body {
  background-color: #F5DBEC;
  display: flex;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 30px;
  background-color: #B5769E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 20px;
  width: 90%; 
  border-radius: 8px;
}

h1 {
  margin: 0;
}

.cart-info {
  margin: 10px;
}

.lesson-page{
  display: ;
}

.lesson-item {
  width: 20%; 
  margin: 20px; 
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #B5769E;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.lesson-details {
  margin-top: 10px;
}

img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #F5DBEC;
  padding: 5px;
}

button {
  background-color: #F5DBEC;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
}

.sort-button {
  background-color: #B5769E;
}

select {
  background-color: #F5DBEC;
  border-radius: 6px;
  padding: 5px;
  margin: 4px;
}